<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agile.server.mapper.ArtistMapper">
    <resultMap id="BaseResultMap" type="com.agile.server.entity.Artist" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TINYINT" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="describe" property="describe" jdbcType="VARCHAR" />
        <result column="pic" property="pic" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, gender, place, birthday, describe, pic
    </sql>
</mapper>
