<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agile.server.mapper.SongListMapper">
    <resultMap id="BaseResultMap" type="com.agile.server.entity.SongList" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="describe" property="describe" jdbcType="LONGVARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="pic" property="pic" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, describe, type, pic
    </sql>
</mapper>
