* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-box {
    position: absolute;
    overflow-y: scroll;
    left: 150px;
    right: 0;
    top: 70px;
    bottom: 0;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #4bc2c5;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue",
    Helvetica, "microsoft yahei",
    arial,
    STHeiTi,
    sans-serif;
}

.content {
    width: auto;
    padding: 20px;
}

.content-collapse {
    left: 65px;
}

.crumbs {
    margin-bottom: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.container {
    padding: 20px;
    /*background: #fff;*/
    background: #E6E6E6;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.move-enter,
.move-leave {
    opacity: 0;
}


.el-select {
    width: 100%;
}

.table{
    min-width: 800px;
}

.el-dialog__body {
    padding: 10px  20px 0 10px;
}
